<nav class="navbar sticky-top navbar-light">
    <div class="container-fluid row">
        <h1 class="col-1">HiLang</h1>
        <button type="button" class="btn btn-outline-dark offset-md-9 offset-sm-1 col-md-2 col-3 offset-2" id="login-button" routerLink="/login">Log in</button>
    </div>
</nav>

<div class="container-fluid" id="register" style="background:url('assets/images/welcome.jpg'); background-size: cover; background-attachment: fixed;">
    <div id="image-shadow" class="row">
        <div class="col-sm-12 offset-sm-0 offset-md-1 col-md-5 align-self-center" id="title">
            <h1>HiLang</h1>
            <h2>A power language learning tool!</h2>
        </div>

        <div class="col-sm-12 offset-sm-0 col-md-3 offset-md-1 align-self-center" id="register-field">
            <form id="register-form">
                <div class="form-group">
                    <h2>Start learning today!</h2>
                    <input type="email" class="form-control" id="registerEmail" placeholder="E-mail address">
                    <input type="password" class="form-control" id="registerPassword" placeholder="Password">
                    <input type="password" class="form-control" id="registerConfirm" placeholder="Confirm password">
                    <button type="submit" class="btn btn-primary mb-2 col-12" id="register-button">Get started!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid" id="offer">
    <div class="container">
    <div class="row">
        <div class="col-12" id="offer-title">
            <h3 class="text-center">Some of our courses we offer:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md col-sm-4 col-6 flag">
            <img src="assets/images/flags/japan.svg" class="col-12" />
            <h5>Japans</h5>
        </div>
        <div class="col-md col-sm-4 col-6 flag">
            <img src="assets/images/flags/germany.svg" class="col-12" />
            <h5 class="col-12">Duits</h5>
        </div>
        <div class="col-md col-sm-4 col-6 flag">
            <img src="assets/images/flags/united-kingdom.svg" class="col-12" />
            <h5>Engels</h5>
        </div>
        <div class="col-md col-sm-4 col-6 flag">
            <img src="assets/images/flags/russia.svg" class="col-12" />
            <h5>Russisch</h5>
        </div>
        <div class="col-md col-sm-4 col-6 flag">
            <img src="assets/images/flags/spain.svg" class="col-12" />
            <h5>Spaans</h5>
        </div>
        <div class="col-md col-sm-4 col-6 flag">
            <img src="assets/images/flags/france.svg" class="col-12" />
            <h5>Frans</h5>
        </div>
    </div>
</div>
</div>

<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-12" id="copyright-app">
                <p>Learn on the go by downloading our android-app!</p>
                <button type="button" class="btn btn-outline-dark" id="login-button">Download</button>
            </div>

            <ul class="col-md-6 col-sm-12 col-12" id="copyright-list">
                <li>Powered by <a href="https://github.com/Team-Aeros/HiLang-interface" target="_blank">HiLang</a></li>
                <li>Flag icons designed by <a href="https://www.flaticon.com/authors/freepik" target="_blank">freepik</a> from <a href="https://www.flaticon.com/" target="_blank">Flaticon</a></li>
                <li>Icons by <a href="https://fontawesome.com/">Font Awesome</a></li>
            </ul>
        </div>
    </div>
</div>
