<nav class="navbar sticky-top navbar-light">
    <div class="container-fluid row">
        <button type="button" routerLink="/login" class="btn btn-outline-dark offset-md-10 col-md-1 col-sm-10 offset-sm-1" id="login-button">Log in</button>
    </div>
</nav>

<div class="container-fluid" id="register" style="background:url('assets/images/welcome.jpg'); background-size: cover;">
    <div id="image-shadow" class="row">
        <div class="col-sm-12 offset-sm-0 offset-md-1 col-md-5 align-self-center" id="title">
            <h1>HiLang</h1>
            <h2>A power language learning tool!</h2>
        </div>

        <div class="col-sm-12 offset-sm-0 col-md-3 offset-md-1 align-self-center" id="register-field">
            <form id="register-form">
                <div class="form-group">
                    <h2>Start learning today!</h2>
                    <input type="email" class="form-control" id="registerEmail" placeholder="E-mailaddress">
                    <input type="password" class="form-control" id="registerPassword" placeholder="Password">
                    <input type="password" class="form-control" id="registerConfirm" placeholder="Confirm password">
                    <button type="submit" class="btn btn-primary mb-2 col-12" id="register-button">Get started!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid" id="offer">
    <div class="container">
    <div class="row">
        <div class="col-12" id="offer-title">
            <h3>Some of our courses we offer:</h3>
        </div>
    </div>
    <div class="row">
        <img src="assets/images/flags/japan.svg" class="col-md col-sm-4 flag"/>
        <img src="assets/images/flags/portugal.svg" class="col-md col-sm-4 offset-0 flag"/>
        <img src="assets/images/flags/russia.svg" class="col-md col-sm-4 offset-0 flag"/>
        <img src="assets/images/flags/sweden.svg" class="col-md col-sm-4 offset-0 flag"/>
        <img src="assets/images/flags/spain.svg" class="col-md col-sm-4 offset-0 flag"/>
    </div>
    <div class="row">
        <button class="btn btn-primary" id="browse-button">Browse all our courses</button>
    </div>
</div>
</div>

 <div class="container-fluid" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-sm-0 offset-md-1 col-md-5 align-self-center" id="title">
                <h2>Help us create a great platform and become a distributor!</h2>
            </div>

            <div class="col-sm-12 offset-sm-0 col-md-3 offset-md-1 align-self-center" id="register-field">
                <button type="button" class="btn btn-outline-dark" id="coll-button">Join as distributor!</button>
            </div>
        </div>
    </div>
 </div>

<div id="copyright">
    Powered by <a href="https://github.com/Team-Aeros/HiLang-interface" target="_blank">HiLang</a>
</div>
