#searchBar {
	text-align: right;
	background: #efefef url('https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2017/03/01/104313417-RTX30HAI.1910x1000.jpg?v=1488394137') repeat-x;

	height: 100px;
	color: #fff;
	font-size: 250%;
}