<div class="container-fluid">
    <div class="jumbotron bg-danger">
        <h1 class="text-white display-4">Hi, {{ user.name }}!</h1>
        <p class="lead text-white">
            This is your dashboard.
        </p>
    </div>

    <div class="col-sm-7 pull-left">
        <div class="row">
            <div id='myCourses'>
				<h4>Continue where you left off!</h4>
				<hr />

				<div class="scrolling-wrapper">
					<div *ngFor="let course of lastAccessed" routerLink="/user/course-details/{{course.id}}" class="course-card">
						<div class="course-card-body">
							<p class="course-card-title">
								{{ course.name }}
							</p>
							<hr style="margin-bottom: 0px;">
							<div class="course-card-image">
								<div class="course-card-image-overlay"></div>
								<img class="course-card-image" src="{{(course.image != null && course.image != '') ? course.image : 'assets/images/courses/null.jpeg' }}" />
							</div>
							<hr style="margin-top: 0px;">
							<div class="course-card-desc">
								<p class="course-card-text">{{ (course.description) ? course.description : "No description" }}</p>
							</div>
							<hr style="margin-bottom: 0px;">
							<div class="course-card-footer">
								<div>Taught by <br><b>{{ course.author }}</b></div>
								<br />
								<div class="pull-left">
									<i class="fa fa-users"></i> {{ course.subscribers }}
								</div>
								<div class="pull-right">
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
        </div>
    </div>

    <div class="col-sm-5 pull-right">
        <h2>Quick navigation</h2>
        <ul class="list-group">
            <li *ngFor="let link of links" class="list-group-item"><a routerLink="{{ link.href }}">{{ link.label }}</a></li>
        </ul>

        <hr />

        <h2>Recent courses</h2>
        <div class="list-group">
            <a *ngFor="let course of courses" routerLink="{{ course.href }}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ course.title }}</h5>
                    <small>last practiced: <strong>{{ course.lastPracticed }}</strong></small>
                </div>
                <p class="mb-1">{{ course.description }}</p>
                <small>Created by {{ course.author }}</small>
            </a>
        </div>

        <button type="button" class="btn btn-danger mt-sm-3" routerLink="/user/browse">Add new course</button>
    </div>

    <br class="clear" />
</div>
