<h1>My courses</h1>
<hr />
<div class="container-fluid">
	<div class="col-4 pull-left">
		<div class="list-group col-10" id="list-tab" role="tablist">
			<a *ngFor="let item of miniMenu" class="list-group-item list-group-item-action" (click)="item.function()">{{ item.name }}</a>
		</div>
	</div>

	<div id="courses" class="col-6 pull-right">
		<ul id='subCourses' style="display: none;" class="list-group courseItem">
			<li *ngFor="let course of subCourses" class="list-group-item">
				<a routerLink="/user/course-details/{{course.id}}">
					{{ course.name }} by {{course.author}}
				</a>
			</li>
		</ul>

		<ul id='myCourses' style="display: none;" class="list-group courseItem">
			<li *ngFor="let course of myCourses" class="list-group-item">
				<a routerLink="/user/course-details/{{course.id}}">
					{{ course.name }} by {{course.author}}
				</a>
			</li>
			<input id="courseInput" type="text" placeholder="Enter a name here" style="display: none">
		</ul>

		<ul id='favCourses' style="display: none;" class="list-group courseItem">
			<li *ngFor="let course of favCourses" class="list-group-item">
				<a routerLink="/user/course-details/{{course.id}}">
					{{ course.name }} by {{course.author}}
				</a>
			</li>
		</ul>

		<button id='addCourse' style="display: none;" (click)="addCourseInput()" class="btn btn-primary">
			add a course
		</button>
	</div>
</div>

<br class="clear">