<h1>My courses</h1>
<hr />
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2 pull-left">
			<h4>Filter the courses</h4>
			<hr />
			<div *ngFor="let language of languages" class="form-group form-check">
				<input type="checkbox" (change)="updateFilter(language.pk)" id="{{language.fields.name}}" class="form-check-input" value="{{language.pk}}">
				<label class="form-check-label" for="{{language.fields.name}}">{{language.fields.name}}</label>
			</div>
			<hr />

			<h4>Create a course</h4>
			<hr />
			<div class="form-group">
			    <label for="courseInput">Naam</label>
				<input id="courseInput" type="text" placeholder="Enter a name here">
			</div>

			<div class="form-group">
			    <label for="native_lang">Native language</label>
				<select class="custom-select" id="native_lang">
					<option *ngFor="let language of languages" value="{{language.pk}}">{{language.fields.name}}</option>
				</select>
			</div>

			<div class="form-group">
			    <label for="target_lang">Target language</label>
				<select class="custom-select" id="target_lang">
					<option *ngFor="let language of languages" value="{{language.pk}}">{{language.fields.name}}</option>
				</select>
			</div>
			<button id='addCourse' (click)="addCourse()" class="btn btn-primary">add a course</button>
		</div>



		<div id="courses" class="col-sm-9 pull-right">
			<div id='myCourses'>
				<h4>Created by me</h4>
				<hr />

				<div class="scrolling-wrapper">
					<div *ngFor="let course of courses.myCourses.active" routerLink="/user/course-details/{{course.id}}" class="course-card">
						<div class="course-card-body">
							<p class="course-card-title">
								{{ course.name }}
							</p>
							<hr style="margin-bottom: 0px;">
							<div class="course-card-image">
								<div class="course-card-image-overlay"></div>
								<!-- <img class="course-card-image" src="assets/images/flags/{{ this.flags[course.trans_lang] }}.svg" /> -->
								<img class="course-card-image" src="{{(course.image != null) ? course.image : 'assets/images/courses/null.jpeg' }}" />
							</div>
							<hr style="margin-top: 0px;">
							<div class="course-card-desc">
								<p class="course-card-text">{{ (course.description) ? course.description : "No description" }}</p>
							</div>
							<hr style="margin-bottom: 0px;">
							<div class="course-card-footer">
								<div>Taught by <br><b>{{ course.author }}</b></div>
								<br />
								<div class="pull-left">
									<i class="fa fa-users"></i> {{ course.subscribers }}
								</div>
								<div class="pull-right">
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div id='myCourses'>
				<h4>Subscribed courses</h4>
				<hr />

				<div class="scrolling-wrapper">
					<div *ngFor="let course of courses.subCourses.active" routerLink="/user/course-details/{{course.id}}" class="course-card">
						<div class="course-card-body">
							<p class="course-card-title">
								{{ course.name }}
							</p>
							<hr style="margin-bottom: 0px;">
							<div class="course-card-image">
								<div class="course-card-image-overlay"></div>
								<!-- <img class="course-card-image" src="assets/images/flags/{{ this.flags[course.trans_lang] }}.svg" /> -->
								<img class="course-card-image" src="{{(course.image != null) ? course.image : 'assets/images/courses/null.jpeg' }}" />
							</div>
							<hr style="margin-top: 0px;">
							<div class="course-card-desc">
								<p class="course-card-text">{{ (course.description) ? course.description : "No description" }}</p>
							</div>
							<hr style="margin-bottom: 0px;">
							<div class="course-card-footer">
								<div>Taught by <br><b>{{ course.author }}</b></div>
								<br />
								<div class="pull-left">
									<i class="fa fa-users"></i> {{ course.subscribers }}
								</div>
								<div class="pull-right">
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div id='myCourses'>
				<h4>Favourite courses</h4>
				<hr />

				<div class="scrolling-wrapper">
					<div *ngFor="let course of courses.favCourses.active" routerLink="/user/course-details/{{course.id}}" class="course-card">
						<div class="course-card-body">
							<p class="course-card-title">
								{{ course.name }}
							</p>
							<hr style="margin-bottom: 0px;">
							<div class="course-card-image">
								<div class="course-card-image-overlay"></div>
								<!-- <img class="course-card-image" src="assets/images/flags/{{ this.flags[course.trans_lang] }}.svg" /> -->
								<img class="course-card-image" src="{{(course.image != null) ? course.image : 'assets/images/courses/null.jpeg' }}" />
							</div>
							<hr style="margin-top: 0px;">
							<div class="course-card-desc">
								<p class="course-card-text">{{ (course.description) ? course.description : "No description" }}</p>
							</div>
							<hr style="margin-bottom: 0px;">
							<div class="course-card-footer">
								<div>Taught by <br><b>{{ course.author }}</b></div>
								<br />
								<div class="pull-left">
									<i class="fa fa-users"></i> {{ course.subscribers }}
								</div>
								<div class="pull-right">
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br class="clear">
