#login-body {
    background-color: #ff5f52;
    height: 880px;
}

.row {
    height: 100%;
}

#login-field {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 3px;
}

.form-group * {
    margin-bottom: 15px;
}

#login-title {
    color: #263238;
}

#login-button {
    color: #263238;
    border-color: #263238;
    border-width: medium;
    font-weight: bold;
}

#login-button:hover {
    background: #263238;
    color: #ffffff;
}
