<div id="login-body" class="fluid-container">
    <div class="row justify-content-md-center">
        <div class="col-sm-12 col-md-3 align-self-center" id="login-field">
            <form id="register-form">
                <div class="form-group">
                    <h2 id="login-title">Start learning today!</h2>
                    <input type="email" class="form-control" id="loginEmail" placeholder="E-mailaddress">
                    <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                    <button type="submit" class="btn btn-outline-dark mb-2 col-12" id="login-button">Get started!</button>
                </div>
            </form>
        </div>
    </div>
</div>
