<div class="container-fluid">
    <h1>Sentence structure</h1>
    <h3>Ik ga naar huis</h3>
    <div>
        
    </div>

    <div class="row col-md-5 col-sm-12" id="options-field">
        <div class="answer">
            <span class="answer-number">1</span>
            <span class="answer-content">test</span>
            <br class="clear" />
        </div>

        <div class="answer">
            <span class="answer-number">2</span>
            <span class="answer-content">test</span>
            <br class="clear" />
        </div>

        <div class="answer">
            <span class="answer-number">3</span>
            <span class="answer-content">test</span>
            <br class="clear" />
        </div>

        <div class="answer">
            <span class="answer-number">4</span>
            <span class="answer-content">test</span>
            <br class="clear" />
        </div>


    </div>
</div>
