<h1><strong>Pre-Exercise</strong> Configure your exercise </h1>
<hr />

<div class="col-sm-10">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form id="">
                	<label><strong>Choose your type of exercise</strong></label>
				    <div class="radio">
				      	<label><input type="radio" name="exercise" value="completion" checked> Completion exercise</label>
				    </div>
				    <div class="radio">
				      	<label><input type="radio" name="exercise" value="flashcard"> Flashcard exercise</label>
				    </div>
				    <div class="radio">
				      	<label><input type="radio" name="exercise" value="mc"> Multiple choice exercise</label>
				    </div>
				    <div class="radio">
				      	<label><input type="radio" name="exercise" value="grammar"> Grammar exercise</label>
				    </div>
				    <div class="radio">
				      	<label><input type="radio" name="exercise" value="sentencestructure"> Sentence structure exercise</label>
				    </div>
				    <div class="radio">
				      	<label><input type="radio" name="exercise" value="dictation"> Dictation exercise <strong>*works best in the Chrome browser</strong></label>
				    </div>
					<br>
					<label><strong>Exercise settings</strong></label>
					<div class="checkbox">
						<label><input type="checkbox" name="option" value="random" checked> Random order</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="option" value="capital" checked> Capital letters are important</label>
					</div>
				    <div class="checkbox">
						<label><input type="checkbox" name="option" value="punctuation" checked> Punctuation marks are important</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="option" value="switch"> Switch native and translation languages</label>
					</div>
			 	</form>
			</div>
		</div>
		<button id="submit_button" type="submit" class="btn btn-success">Start</button>
	</div>
</div>
