<div class="col-sm-8">
    <h1><strong>Lesson 1</strong> Simple translation exercise </h1>
    <hr />

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm align-left">
                <div class="btn-group pull-right" role="group">
                    <button type="button" class="btn btn-light">End lesson</button>
                    <button type="button" class="btn btn-light">Grammar</button>
                    <button type="button" class="btn btn-danger">Report error</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br class="clear" />