<div style="text-align:center">
    <app-menu-bar></app-menu-bar>
    
    <div id="wrapper">
        <app-header></app-header>
        <!-- <app-login></app-login>
            <app-landingpage></app-landingpage>
            <app-menu-bar></app-menu-bar>-->

        <div id="content">
            <app-content></app-content>
        </div>

        <div id="copyright">
            Powered by <a href="https://github.com/Team-Aeros/HiLang-interface" target="_blank">HiLang</a>
        </div>
    </div>
</div>
