<div style="text-align:center">
<!-- <app-login></app-login> -->
<!-- <app-landingpage></app-landingpage> -->
<app-menu-bar></app-menu-bar>

<div id="wrapper">
    <app-header></app-header>

    <div id="content">
        <app-content>
            <app-sentence-structure-exercise></app-sentence-structure-exercise>
        </app-content>
    </div>

    <div id="copyright">
        Powered by <a href="https://github.com/Team-Aeros/HiLang-interface" target="_blank">HiLang</a>
    </div>
</div>


</div>
