/* Containers */
#wrapper {
    margin-left: 120px;
    color: #263238;
}

#content {
    background: #fff;
    padding: 20px;
}

#copyright {
    font-size: 80%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

/* Headings */
h1 {
    color: #8e0000;
}

h2 {
    color: #c62828;
}

h1, h2, h3 {
    letter-spacing: -1px;
}