<h1><strong>{{ lesson.name }}</strong> Completion exercise </h1>
<hr />
<div class="col-sm-10">
    <form id="exercise">
        <div class="form-group">
            <div class="pull-left col-sm-5">
                <label for="trans_language">Source language:</label>
                <h3 id="questionTrans">{{ currentWord.native}}</h3>
                <label for="native_language">Target language:</label>
                <h3 id="questionWord">{{ question }}</h3>
            </div>
            <div class="pull-right col-sm-5">
                <label for="translation">Answer:</label>
                <div class="form-inline">
                    <input id="answer" type="text" class="form-control form-control-lg form-control mr-sm-3" placeholder="Enter translation here" autocomplete="off" />
                    <button id="enterAnswer" type="submit" class="btn btn-success btn-lg">Proceed</button>
                </div>
            </div>
            <br class="clear" />
        </div>
    </form>

    <p id="correctAnswer"></p>

    <div class="progress mt-sm-5">
        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': progress + '%'}"></div>
    </div>

    <div class="container-fluid action_buttons">
        <div class="row">
            <div class="col-sm align-left">
                <div class="btn-group pull-left" role="group">
                    <button type="button" class="btn btn-light" routerLink="/user/courses/">End lesson</button>
                    <button type="button" class="btn btn-light">Grammar</button>
                    <button type="button" class="btn btn-danger">Report error</button>
                </div>
            </div>

            <div class="pull-right">
                <div class="col-sm align-right">
                    <strong>Current time:</strong> {{ timeInSeconds }} {{ timeInSeconds === 1 ? 'second' : 'seconds' }}
                </div>
            </div>

            <br class="clear" />
        </div>
    </div>
</div>