#context {
	background-color: #f2f4f7;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 10px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), 0 1px 5px 0 rgba(0,0,0,0.12);
}

#headerBar {
	background-color: #dc3545;
}

#createLessonLabel {
	margin-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Noto Sans", Helvetica, Arial;
	font-size: 25px;
	color: #ffeff1;
}

#form {
	margin: 10px;
	padding: 10px;
}

#input_field {
	width: 100%;
	padding-top: 25px;
}

#buttons {
	background-color: #e0e2e5;
	padding: 15px;
}

#buttons button {
	margin-left: 10px;
}
