<div id="context">
    <div id="headerBar">
        <label id="createLessonLabel">Create your lesson</label>
    </div>
    <form id="form">
        <div class="form-group">
            <label class="control-label" for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Enter a title for your lesson">
            <label class="control-label" for="inputCategory">Category</label>
            <input type="text" class="form-control" id="inputCategory" placeholder="Enter the subject of this lesson">
            <label class="control-label" for="inputDescription">Description</label>
            <textarea class="form-control" rows="3" cols="80" id="inputDescription" placeholder="Enter the description of this lesson"></textarea>
            <label class="control-label" for="inputGrammar">Grammar (optional)</label>
            <textarea class="form-control" rows="4" cols="80" id="inputGrammar" placeholder="Enter the grammar of this lesson"></textarea>
        </div>
        <table id="input_field">
            <tr>
                <td></td>
                <td><label class="control-label">Words / Sentences</label></td>
                <td><label class="control-label">Words / Sentences</label></td>
                <td><label class="control-label">Is sentence</label></td>
            </tr>
        </table>
    </form>
    <div id="buttons">
        <button id="addRowsButton" type="button" class="btn btn-secondary">Add new rows</button>
        <button id="saveButton" type="button" class="btn btn-secondary">Save</button>
    </div>
</div>
