<div id="context">
    <div id="headerBar">
        <label id="createLessonLabel">Create your lesson</label>
    </div> 
    <form id="form">
        <div class="form-group">
            <label class="control-label" for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Enter a title for your lesson">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="control-label" for="inputSubject">Subject</label>
                <input type="text" class="form-control" id="inputSubject" placeholder="Enter a subject">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label" for="inputSubject">Subject</label>
                <input type="text" class="form-control" id="inputSubject" placeholder="Enter a subject">
            </div>
        </div>
        <table id="input_field">
            <tr>
                <td></td>
                <td><label class="control-label">Words / Sentences</label></td>
                <td><label class="control-label">Words / Sentences</label></td>
            </tr>
        </table>
    </form>
    <div id="buttons">
        <button id="addRowsButton" type="button" class="btn btn-secondary">Add new rows</button>
        <button id="saveButton" type="button" class="btn btn-secondary">Save</button>
    </div>
</div>