<h1>Browse courses</h1>
<hr />
<div id="browser" class="col-sm-8">
    <div class="form-inline">
        <input id="browseBar" type="text" class="form-control form-control-lg mr-sm-2 col-sm-10" placeholder="Search for...">
        <button type="submit" class="btn btn-lg btn-danger" (click)="doSearch()">Submit</button>
    </div>

    <br />

    <div *ngFor="let course of publicCourses" class="mb-sm-4">
            <div class="card-body">
                <div class="pull-left col-sm-2">
                    <img class="course-img" src="{{ course.image }}" alt="Course image">
                </div>
                <div class="pull-left col-sm-8">
                    <h5 class="card-title">
                        {{ course.name }}
                    </h5>
                    <p class="card-text">
                        {{ course.description }}
                    </p>
                </div>

                <br class="clear" />
            </div>

            <div class="card-footer">
                <div class="pull-left">
                    <i class="fa fa-users"></i> {{ course.subscribers }} subscribers
                </div>

                <div class="pull-right">
                    Taught by {{ course.author }} |
                    <a routerLink="/user/course-details/{{course.id}}">
                        Subscribe to course
                    </a>
                </div>
            </div>
    </div>
</div>

<br class="clear">
