<div id="browseBar">
        <form class="form-inline">
            <input type="text" class="form-control mr-sm-2" id="search" placeholder="Search for...">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

<div id="browser" *ngFor="let course of courses">
	<ul class="nav flex-column courseItem">
		<li class="nav-item">
			<a class="nav-link active">
				{{ course.name }} by {{ course.author }}
			</a>
		</li>
	</ul>
</div>

<br class="clear">
