<h1>Browse courses</h1>
<hr />
<div id="browser" class="col-sm-8">
    <form class="form-inline">
        <input type="text" class="form-control form-control-lg mr-sm-2 col-sm-10" id="search" placeholder="Search for...">
        <button type="submit" class="btn btn-lg btn-danger">Submit</button>
    </form>

    <br />

    <div *ngFor="let course of courses" class="mb-sm-4">
        <!-- <h3><img src="assets/images/flags/{{ courseGroup.flag }}.svg" /> {{ courseGroup.language }}</h3>
        <div class="card mb-sm-2" *ngFor="let course of courseGroup.courses"> -->
            <div class="card-body">
                <div class="pull-left col-sm-2">
                    <img class="course-img" src="{{ course.fields.image }}" alt="Course image">
                </div>
                <div class="pull-left col-sm-8">
                    <h5 class="card-title">
                        {{ course.fields.name }}
                    </h5>
                    <p class="card-text">
                        {{ course.fields.description }}
                    </p>
                </div>

                <br class="clear" />
            </div>

            <div class="card-footer">
                <div class="pull-left">
                    <i class="fa fa-users"></i> {{ course.fields.subscribers }} subscribers
                </div>

                <div class="pull-right">
                    Taught by {{ course.author }} |
                    <a routerLink="/user/course-details/{{course.fields.id}}">
                        Subscribe to course
                    </a>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>

<br class="clear">
