/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    text-align: left;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", Helvetica, Arial;
    font-size: 95%;
    background: #dddddd;
}

br.clear {
    clear: both;
}

.menu-icon {
    font-size: 300%;
}

.nav-item {
    opacity: 0.9;
    text-shadow: 2px 2px #000;
    margin-bottom: 20px;
    padding: 10px;
    -webkit-transition: background-color 100ms;
    -moz-transition: background-color 100ms;
    -o-transition: background-color 100ms;
    transition: background-color 100ms;
}
#miniMenu .nav-item  {
    text-shadow: none;
}

#courses .nav-item  {
    text-shadow: none;
}

#myCourses .nav-item  {
    text-shadow: none;
}

#browser .nav-item  {
    align-self: center;
    text-shadow: none;
}

#browseBar {
    float: left;
    width: 30%;
}

#browser {
    float: right;
    width: 60%;
}
#miniMenu {
    float: left;
    width: 30%;
}

#courses {
    float: right;
    margin-right: 15%;
    width: 30%;
}

#favCourses .nav-item  {
    text-shadow: none;
}

.nav-item:hover, .nav-item-active {
    background: #4f5b62;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item, .nav-link {
    text-align: center;
}

#input_field td{
    padding-top: 5px;
}

#input_field td:last-child {
    padding-left: 5px;
}
/* Padding and margin */
.action_buttons {
    margin-top: 50px;
}

/* Exercises */
#mc-buttons button {
    background: #1e80ff;
    border-color: #fff;
}

/* Responsiveness */
@media only screen and (max-width: 900px) {
    #menuBar a {
        font-size: 200%;
        font-family: Arial, Helvetica;
        text-align: left;
    }

    #menuBar i {
        display: none!important;
    }
}
