/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    text-align: left;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", Helvetica, Arial;
    font-size: 95%;
    background: #dddddd;
}

br.clear {
    clear: both;
}

/* Navigation */
.menu-icon {
    font-size: 300%;
}

.nav-item {
    opacity: 0.9;
    text-shadow: 2px 2px #000;
    margin-bottom: 20px;
    padding: 10px;
    -webkit-transition: background-color 100ms;
    -moz-transition: background-color 100ms;
    -o-transition: background-color 100ms;
    transition: background-color 100ms;
}

#menuBar .nav-item:first-child, #menuBar .nav-item:first-child a.nav-link {
    color: #ff5f52;
    text-shadow: 1px 1px #962116;
}



.scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    height: 350px;
    float: right;
    max-height: 350px;
    display: inline;
}

.course-card:hover .course-card-image .course-card-image-overlay {
    background-color: rgba(38, 50, 56, 0.7);
}


.course-card {
    border: 1px solid rgba(0,0,0,.125);
    display: inline-block;
    max-width: 200px;
    width: 200px;
    cursor: pointer;
    white-space:normal;
    -webkit-transition: background-color 100ms;
    -moz-transition: background-color 100ms;
    -o-transition: background-color 100ms;
    transition: background-color 100ms;
    max-height: 316px;
    height: 316px;
    margin-right: 10px;
    font-size: 14px;
    background-color: rgba(0,0,0,.03);
    border-radius: 5px;
}

.course-card:last-child {
    margin-right: 0;
}

.course-card-image {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.course-card-image * {
    position: absolute;
    height: 110px !important;
    margin-bottom: 10px;
}

.course-card-image-overlay {
    width: 100%;
    z-index: 100;
}

.course-card-title {
    padding: 5px 10px;
    text-align: center;
    font-weight: bold;
    line-height: 16px;
    height: 32px;
    max-height: 32px;
    max-width: 180px;
    margin: 0 10px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.course-card-text {
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    max-width: 180px;
    margin: 0 10px;
    line-height: 16px;
    height: 32px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.course-card-footer {
    max-width: 180px;
    margin: 10px;
}

.course-card-body, .course-card {
    padding: 0;
}

.nav-item:hover, .nav-item-active {
    background: #4f5b62;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item, .nav-link {
    text-align: center;
}

#miniMenu .nav-item  {
    text-shadow: none;
}

#details .nav-item  {
    text-shadow: none;
    width: 10%;
}

#addLesson {
    width: 130px;
}

/* Courses */
#addCourse {
    margin-top: 10px;
}

#courseInput {
    width: 100%;
}
#courses {
    text-align: left;
}

#browser h3 img, #courses h3 img {
    height: 20px;
    width: 20px;
}

.course-img {
    width: 100%;
    height: auto;
}

#courses .nav-item, #myCourses .nav-item {
    text-shadow: none;
}

/* All courses */
#browser .nav-item  {
    align-self: center;
    text-shadow: none;
}

/* Mini menu */
#miniMenu {
    float: left;
    width: 30%;
}

#favCourses .nav-item  {
    text-shadow: none;
}

#input_field td{
    padding-top: 5px;
}

#input_field td:last-child {
    padding-left: 5px;
}

/* Padding and margin */
.action_buttons {
    margin-top: 50px;
}

/* Exercises */
#mc-buttons button {
    background: #1e80ff;
    border-color: #fff;
}

input[type="text"].correct {
    background: #f2fced;
}

input[type="text"].incorrect {
    background: #fceeed;
}

button.correct {
    background: #6be22b !important;
}

button.incorrect {
    background: #f43f3f !important;
}

form#exercise input[type="text"]:focus {
    box-shadow: none;
    border-color: inherit;
}

/* Responsiveness */
@media only screen and (max-width: 900px) {
    #menuBar a {
        font-size: 200%;
        font-family: Arial, Helvetica;
        text-align: left;
    }

    #menuBar i {
        display: none!important;
    }
}

#loadingScreen {
    background-color: #263238;
    height: 100%;
    width: 100%;
    z-index: 9999;
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
}

#load-icon {
    margin: 0 auto;
    color: white;
}
