/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    text-align: left;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", Helvetica, Arial;
    font-size: 95%;
    background: #dddddd;
}

br.clear {
    clear: both;
}

.menu-icon {
    font-size: 300%;
}

.nav-item {
    opacity: 0.9;
    text-shadow: 2px 2px #000;
    margin-bottom: 20px;
    padding: 10px;
}

.nav-item:hover, .nav-item-active {
    background: #c62828;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item, .nav-link {
    text-align: center;
}

/* Responsiveness */
@media only screen and (max-width: 900px) {
    #menuBar a {
        font-size: 200%;
        font-family: Arial, Helvetica;
        text-align: left;
    }

    #menuBar i {
        display: none!important;
    }
}